<td>
  {{store.name}}
  {{#if store.default}}
    <span class="label label-default">default</span>
  {{/if}}
</td>
<td>{{store.url}}</td>
<td>
  {{#if editing}}
    <select id='available-locales-store-{{store.id}}' class='available-locales select2 fullwidth' name='store[preferred_available_locales][]' multiple='true'>
      {{#each availableLocales}}
        <option value="{{ this }}" {{#selected this ../store}}{{/selected}}>
          {{#locale-presentation this ../availableLocalesPresentation}}{{/locale-presentation}}
        </option>
      {{/each}}
    </select>
  {{else}}
    {{store-available-locales store availableLocales}}
    {{#each store.preferences.available_locales}}
      {{locale-presentation this}}
    {{/each}}
  {{/if}}
</td>
<td class="actions">
  <a class="fa fa-edit icon_link with-tip no-text" data-action="edit" data-id="{{id}}" href="#"></a>
  <a class="fa fa-check icon_link with-tip no-text" data-action="save" data-id="{{id}}" href="#"></a>
  <a class="fa fa-cancel icon_link with-tip no-text" data-action="cancel" data-id="{{id}}" href="#"></a>
</td>
