<%= render 'spree/admin/shared/configuration_menu' %>

<table class="index locales-settings">
  <thead>
    <tr>
      <th><%= Spree::Store.human_attribute_name(:name) %></th>
      <th><%= Spree::Store.human_attribute_name(:url) %></th>
      <th><%= Spree.t(:'i18n.locales_displayed_on_frontend_select_box') %></th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <%# Rendered by JS %>
  </tbody>
</table>

<script>
$(function(){
  if ($(".locales-settings").length) {
    var available_locales = Spree.ajax({
      type: 'GET',
      url: "/api/config/available_locales",
      success: function(data) {
        new Spree.InlineTableLocales({
          el: $("table.locales-settings > tbody"),
          collection: data
        });
      }
    })
  }
});
</script>
