<%= render 'spree/admin/shared/configuration_menu' %>

<table class="index locales-settings">
  <thead>
    <tr>
      <th><%= Spree::Store.human_attribute_name(:name) %></th>
      <th><%= Spree::Store.human_attribute_name(:url) %></th>
      <th><%= Spree.t(:'i18n.locales_displayed_on_frontend_select_box') %></th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <%# Rendered by JS %>
  </tbody>
</table>

<script>
Spree.ready(function(){
  new Spree.InlineTableLocales({ el: $("table.locales-settings > tbody") });
})
</script>
